.background-blur {
  position: relative;
  filter: blur(8px);
  /* z-index: 1; */
}

.task-heading {
  margin-left: 20rem;
  margin-top: 8px;
  display: inline-flex;
  margin-top: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

.lists-heading {
  margin-left: 1rem;
  margin-bottom: 20px;
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: gray;
}

.pluscircle-img {
  margin-left: 25rem;
  display: inline-flex;
  margin-bottom: 2rem;
}

.pluscircle-addlist {
  margin-left: 1rem;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5px;
}

.first-card {
  border: 2px solid salmon;
  width: 210px;
  height: 320px;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 2px 4px 15px lightslategray;
}

.firstcard-heading {
  color: salmon;
  /* color: sandybrown; */
  font-size: 20px;
}

.hr-line {
  margin-left: 40px;
}

.completed-task {
  color: red;
  text-decoration: line-through;
}

.container {
  border: 2px solid salmon;
  width: 380px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 10px lightgray;
}

.add-new-list {
  margin-bottom: 15px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.empty-button {
  width: 270px;
  height: 35px;
  border: 1px solid salmon;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px lightgray;
}

.add-button {
  color: white;
  background-color: red;
  margin-top: 5px;
  border: 1px solid red;
  width: 75px;
  height: 32px;
  border-radius: 50px;
  margin-bottom: 5px;
}

.bg-image {
  position: absolute;
  top: 40%;
  left: 35%;
}
